.login-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.login-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-title {
  color: var(--secundary);
  font-size: 20px;
  font-style: italic;
  font-weight: 500;
  letter-spacing: 0.165em;
  line-height: 20px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.email-input, .password-input, .login-submit-btn {
  border-radius: 5px;
  height: 40px;
  margin: 5px 0;
  width: 276px;
}

.email-input, .password-input {
  border: 0.5px solid var(--secundary);
  color: var(--secundary);
  font-size: 14px;
  font-weight: 300;
  line-height: 14px;
  padding: 20px;
}

.email-input:focus, .password-input:focus {
  color: var(--secundary);
  outline-color: var(--secundary);
}

.email-input::placeholder, .password-input::placeholder {
  color: var(--secundary);
}

.login-submit-btn {
  background-color: var(--primary);
  border: none;
  color: white;
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.03em;
  line-height: 14px;
  text-transform: uppercase;
}

.login-submit-btn:disabled {
  background-color: gray;
  cursor: auto;
}
